.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:4.5rem;
    background-color: #f6f6f6;
    .nav-main{
        display: flex;
        align-items:center;
    }
    .home-button{
        color: rgb(47, 47, 47);
        margin: 0.5rem;
        cursor: pointer;
    }
    .nav-button{
        margin: 0.5rem;
        color: rgb(122, 122, 122);
        cursor: pointer;
    }
    .home-button:hover, .home-button:active, .home-button:focus, .nav-button:hover, .nav-button:active, .nav-button:focus{
        border-bottom: 2px solid rgb(122, 122, 122);
    }
    .nav-brand{
        margin-right: 2rem;
        width: min-content;
        cursor: pointer;
    }
    .brand-image{
        width: 3.5rem;
    }
    .search-space{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.4rem;
        margin-bottom: 1rem;
        border: 1px solid #dddddd;
        border-radius: 0.5rem;
        background-color: #ffffff;
        cursor: pointer;

    }
    .icon-button:hover{
        border: 1px solid #222222;
    }
    .nav-icon{
        width: 2rem;
        height: 2rem;
    }    
}