@import url(header.css);
@import url(poster.css);
@import url(cards.css);
@import url(footer.css);

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.contain {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}