.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small-info{
    font-size: small;
}

.content-flex {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.c-aside {
    width: 250px;
    background-color: rgb(255, 191, 110);
    padding: 10px;
    text-align: center;
}

#p-text {
    max-width: 600px;
}

.a-submit {
    padding: 15px;
    background-color: #222;
    color: white;
    margin: 0 auto;
    display: block;
}